.container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 30px auto 0px auto;
  align-items: center;
  max-width: 1150px;
  padding: 0 20px;
}

.user-input {
  min-width: 25%;
  min-height: 10rem;
  margin-left: 4rem;
  text-align: center;
  font-size: 1.5rem;
  word-break: break-all;
  padding: 10px;
}

.user-prompt {
  margin-left: 4rem;
  font-size: 1.5rem;
}

.start-button {
  display: block;
  cursor: pointer;
  margin: 30px auto;
  height: 5rem;

  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 270px;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  transition: all 0.08s ease;
}

.board-container {
  width: 75%;
  height: 85vh;
  /* padding-bottom: 54%; */
  background-image: url('./assets/river.gif');
  position: relative;
}

.board-container-inner-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
}

.ships {
  display: flex;
  width: 100%;
}

/* levels 1-6 positions for the ships */
.ships-alignment-1 {
  justify-content: flex-end;
}

.ships-alignment-2 {
  justify-content: flex-start;
}

.ships-alignment-3 {
  justify-content: space-between;
}

.ships-alignment-4 {
  justify-content: center;
}

.ships-alignment-5 {
  justify-content: space-evenly;
}

.ships-alignment-6 {
  justify-content: space-around;
}

/* Classes to rotate through to 'animate' the boats down the river */
.down-one {
  margin-top: 20%;
}

.down-two {
  margin-top: 37%;
}

.down-three {
  margin-top: 54%;
}

.down-four {
  margin-top: 71%;
}

.down-five {
  margin-top: 88%;
}

.down-six {
  margin-top: 105%;
}

.down-seven {
  margin-top: 123%;
}

.ship {
  width: 10%;
  height: 100%;
  background-image: url(./assets/shipA.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 24%;
}

.rocks {
  display: flex;
  width: 100%;
  height: 10%;
  /* gap: 10px; */
  position: absolute;
  bottom: 0;
}

.rock {
  width: 10%;
  height: 100%;
  background-image: url(./assets/rock2.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 1s ease;
}

.rock-hide {
  opacity: 0;
}

/* Styling for Modal */
.modal-wrapper {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(34, 25, 25, 0.8);
  z-index: 1;
}

.modal-container {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;

  padding: 50px;

  /* centers the div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-button {
  cursor: pointer;
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 270px;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  transition: all 0.08s ease;
}

.modal-button:hover,
.start-button:hover {
  background-color: #e5513e;
}

.modal-container img {
  width: 120px;
  margin-bottom: 20px;
}

.modal-container p {
  font-size: 23px;
  margin-bottom: 40px;
}
