.App {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.board-container {
  width: 700px;
  height: 90vh;
  background: yellow;
  position: relative;
  margin: 0 auto;
}

.ships {
  display: flex;
  width: 100%;
  gap: 10px;
}

.ship {
  flex: 0 0 24%;
  width: 25%;
  height: 200px;
  background-color: blue;
}

.rocks {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.rock {
  flex: 0 0 10%;
  width: 10%;
  height: 200px;
  background-color: red;
}

.rock-show {
}

.rock-hide {
  display: none;
}

.movedown {
  transform: translateY(70vh);
  transition: all 5s ease-in;
}

/* diffrent rocks allignment */
.rocks-allignment-1 {
  justify-content: end;
}

.rocks-allignment-2 {
  justify-content: space-between;
}
