.container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 1rem;
  align-items: center;
}

.user-input {
  min-width: 25%;
  min-height: 10rem;
  margin-left: 6rem;
  text-align: center;
  font-size: 1.5rem;
  word-break: break-all;
}

.user-prompt {
  margin-left: 6rem;
  font-size: 1.5rem;
}

.start-button {
  display: block;
  cursor: pointer;
  margin: 20px auto;
  height: 6rem;
  width: 12rem;
  background: rgb(184, 146, 146);
  font-size: 1.5rem;
}

.board-container {
  width: 35%;
  height: 100%;
  padding-bottom: 54%;
  background-image: url('../public/river.gif');
  position: relative;
}

.board-container-inner-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
}

/* levels 1-6 positions for the ships */
.ships-alignment-1 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.ships-alignment-2 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.ships-alignment-3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ships-alignment-4 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ships-alignment-5 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.ships-alignment-6 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Classes to rotate through to 'animate' the boats down the river */
.down-one {
  margin-top: 10%;
}
.down-two {
  margin-top: 30%;
}
.down-three {
  margin-top: 50%;
}
.down-four {
  margin-top: 70%;
}
.down-five {
  margin-top: 90%;
}
.down-six {
  margin-top: 110%;
}
.down-seven {
  margin-top: 130%;
}

.ship {
  width: 10%;
  height: 100%;
  background-image: url(../public/shipA.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 24%;
}

.rocks {
  display: flex;
  width: 100%;
  height: 10%;
  /* gap: 10px; */
  position: absolute;
  bottom: 0;
}

.rock {
  width: 10%;
  height: 100%;
  background-image: url(../public/rock2.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 1s ease;
}

.rock-show {
}

.rock-hide {
  opacity: 0;
}

/* Styling for Modal */
.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal-container {
  height: 500px;
  width: 500px;
  background-color: #fefefe;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #888;
}
